<%- include('partial/header') %>

<div class="jumbotron centered" style="background-color: white;">
  <div class="container">
  <h1 class="display-4 ">Wellcome</h1>
 <p class="lead">Don't keep your secrets, share them anonymously!</p>
  <hr class="my-4">
  <p>It uses utility the larger container.</p>
  <p class="lead">
    
    <a class="btn btn-outline-success btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-outline-info btn-lg" href="/login" role="button">Login</a>
  </p>
</div>
</div>



  <%- include('partial/footer') %>